.menubar li {
	list-style-type: none;
	float: left;
	margin-right: 2em;
}
.menubar a:hover {
	text-decoration: underline;
	color: red;
}

.menubar a:link, :visited {
	text-decoration: none;
	color: black;
}

#content {
	clear: both;
}
